.primary,
.icon,
.card {
    user-select: none;
}

.primary {
    background-color: white;
    color: var(--color-dark-gray);
    border: 2px solid var(--color-dark-gray);
    font-weight: bold;
    border-radius: var(--rounded-full);
    padding: 2px 12px;
    font-size: 12px;
}
.primary:hover,
.primary:focus {
    background-color: var(--theme-bg);
}

.primary[disabled] {
    cursor: not-allowed;
    color: var(--color-light-gray);
    border-color: var(--color-light-gray);
}
.primary[disabled]:hover,
.primary[disabled]:focus {
    background-color: white;
}

.secondary {
    color: var(--color-dark-gray);
    font-weight: bold;
    font-size: 11px;
    padding: 4px 14px;
    border-radius: var(--rounded-full);
    position: relative;
    display: block;
    text-align: center;
}
.secondary::after,
.secondary::after {
    content: '';
    position: absolute;
    height: 2px;
    width: calc(100% - 28px);
    left: 14px;
    bottom: 10%;
    background-color: var(--theme-bg);
    z-index: -1;
    transition: 0.4s ease all 20ms;
}

.secondary:hover,
.secondary:focus {
    font-weight: bold;
}
.secondary:hover::after,
.secondary:focus::after {
    content: '';
    position: absolute;
    height: 4px;
    width: calc(100% - 28px);
    left: 14px;
    bottom: 10%;
    background-color: var(--theme-bg);
    z-index: -1;
    transition: 0.4s ease all 20ms;
}

.card {
    background-color: white;
    color: var(--color-dark-gray);
    border: 2px solid var(--color-dark-gray);
    font-weight: bold;
    border-radius: var(--rounded);
    padding: 4px 12px;
    font-size: 12px;
}

.icon {
    width: 36px;
    height: 36px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--rounded-full);
    color: var(--color-dark-gray);
}
.icon:hover,
.icon:focus {
    background-color: white;
    border: 2px solid var(--color-dark-gray);
}
.icon:focus {
    outline: none;
}
