@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

:root {
    --color-lavender: #dad4e0;
    --color-rose: #f5e0dc;
    --color-lemon: #fce5c4;
    --color-sea: #c6ced3;
    --color-leaf: #ced9cd;
    --color-sand: #e4dcd4;

    --color-gray: #222222;

    --theme-bg: var(--color-lavender);

    --space-small: 16px;
    --space-medium: 32px;
    --space-large: 64px;
    --page-padding: 32px;

    --rounded-full: 9999px;
    --rounded: 12px;
    --border: 2px solid var(--color-gray);

    --text-color: var(--color-gray);
    --font: 'Lora', serif;

    --text-large: 36px;
}

.rose:root {
    --theme-bg: var(--color-rose);
}
.sea:root {
    --theme-bg: var(--color-sea);
}
.leaf:root {
    --theme-bg: var(--color-leaf);
}
.lemon:root {
    --theme-bg: var(--color-lemon);
}
.lavender:root {
    --theme-bg: var(--color-lavender);
}
.sand:root {
    --theme-bg: var(--color-sand);
}
.reverse:root {
    --theme-bg: var(--color-gray);
}

.reverse.rose:root {
    --text-color: var(--color-rose);
}
.reverse.sea:root {
    --text-color: var(--color-sea);
}
.reverse.leaf:root {
    --text-color: var(--color-leaf);
}
.reverse.lemon:root {
    --text-color: var(--color-lemon);
}
.reverse.lavender:root {
    --text-color: var(--color-lavender);
}
.reverse.sand:root {
    --text-color: var(--color-sand);
}

html,
body {
    height: 100%;
}

body {
    font-family: var(--font), -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--theme-bg);
    color: var(--text-color);
    min-height: 100vh;
}

.space-small {
    height: var(--space-small);
}
.space-medium {
    height: var(--space-medium);
}
.divider {
    width: 240px;
    height: 1px;
    background-color: var(--color-gray);
    opacity: 0.1;
    border-radius: var(--rounded-full);
    margin: 12px auto;
}
.row {
    display: flex;
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.even {
    justify-content: space-evenly;
}
.separated {
    justify-content: space-between;
}
.centered {
    justify-content: center;
}
