.title {
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 12px;
}
.subtitle {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.01rem;
	font-size: 12px;
	padding: 8px 0px;
}
.label {
	font-weight: bold;
	padding: 6px 0px;
}
.label::first-letter {
	text-transform: uppercase;
}
.sublabel {
	padding: 6px 0px 6px 4px;
	font-weight: normal;
}
.sublabel::first-letter {
	text-transform: uppercase;
}
.base {
	padding: 6px 0px;
	font-weight: normal;
	font-size: 11px;
}
.base::first-letter {
	text-transform: uppercase;
}
.monospaced {
	display: flex;
}
.monospaced > span {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1ch;
}
